In [1]:
from bs4 import BeautifulSoup
import requests


import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import numpy as np
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

import warnings
warnings.filterwarnings ("ignore")

C:\Users\akash\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\akash\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
driver = webdriver.Chrome()

# Question : 8
    
8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [3]:
driver.get('https://archive.ics.uci.edu/')

In [4]:
search_tag = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
search_tag.click()

In [5]:
expand = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand.click()

In [6]:
dataset = []

try:
    for data in driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]'):
        dataset.append(data.text)
except:
    print('No Such Element Found')
    
dataset

['Iris',
 'Dry Bean',
 'Heart Disease',
 'Rice (Cammeo and Osmancik)',
 'Raisin',
 'Adult',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Wine',
 'Wine Quality',
 'Bank Marketing',
 'Diabetes',
 'Car Evaluation',
 'Student Performance',
 'Abalone',
 'Mushroom',
 'Online Retail',
 'Statlog (German Credit Data)',
 'Automobile',
 "Predict Students' Dropout and Academic Success",
 'Census Income',
 'Breast Cancer',
 'Spambase',
 'Auto MPG',
 'Breast Cancer Wisconsin (Original)',
 'Air Quality']

In [7]:
data_type = []

try:
    for type in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span'):
        data_type.append(type.text)
except:
    print('No Such Element Found')
    

data_type

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate, Time-Series',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Sequential, Time-Series',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate, Time-Series']

In [8]:
task = []

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span'):
        task.append(i.text)
except:
    print('No Such Element Found')
    
task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification, Regression',
 'Classification',
 'Classification, Clustering',
 'Classification',
 'Regression',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Regression',
 'Classification',
 'Regression']

In [9]:
attribute = []

try:
    for x in driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]'):
        attribute.append(x.text)
except:
    print('No Such Element Found')
    
attribute

['Real',
 'Integer, Real',
 'Categorical, Integer, Real',
 'Real',
 'Real, Integer',
 'Categorical, Integer',
 'Real',
 'Integer, Real',
 'Real',
 'Categorical, Integer',
 'Categorical, Integer',
 'Categorical',
 'Integer',
 'Categorical, Integer, Real',
 'Categorical',
 'Integer, Real',
 'Categorical, Integer',
 'Categorical, Integer, Real',
 'Real, Categorical, Integer',
 'Categorical, Integer',
 'Categorical',
 'Integer, Real',
 'Real, Categorical, Integer',
 'Integer',
 'Real']

In [10]:
no_of_instance = []

try:
    for instance in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span'):
        no_of_instance.append(instance.text)
except:
    print('No Such Element Found')
    
    
no_of_instance

['150 Instances',
 '13.61K Instances',
 '303 Instances',
 '3.81K Instances',
 '900 Instances',
 '48.84K Instances',
 '569 Instances',
 '178 Instances',
 '4.9K Instances',
 '45.21K Instances',
 '1 Instances',
 '1.73K Instances',
 '649 Instances',
 '4.18K Instances',
 '8.12K Instances',
 '541.91K Instances',
 '1K Instances',
 '205 Instances',
 '4.42K Instances',
 '48.84K Instances',
 '286 Instances',
 '4.6K Instances',
 '398 Instances',
 '699 Instances',
 '9.36K Instances']

In [11]:
no_of_attribute = []

try:
    for attibute in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span'):
        no_of_attribute.append(attibute.text)
except:
    print('No Such Element Found')
    
no_of_attribute

['4 Features',
 '16 Features',
 '13 Features',
 '7 Features',
 '8 Features',
 '14 Features',
 '30 Features',
 '13 Features',
 '12 Features',
 '17 Features',
 '20 Features',
 '6 Features',
 '33 Features',
 '8 Features',
 '22 Features',
 '8 Features',
 '20 Features',
 '25 Features',
 '36 Features',
 '14 Features',
 '9 Features',
 '57 Features',
 '7 Features',
 '9 Features',
 '15 Features']

In [12]:
year = []

try:
    for y in driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]'):
        year.append(y.text)
except:
    print('No Such Element Found')

year

['7/1/1988',
 '9/14/2020',
 '7/1/1988',
 '10/6/2019',
 '8/14/2023',
 '5/1/1996',
 '11/1/1995',
 '7/1/1991',
 '10/7/2009',
 '2/14/2012',
 'N/A',
 '6/1/1997',
 '11/27/2014',
 '12/1/1995',
 '4/27/1987',
 '11/6/2015',
 '11/17/1994',
 '5/19/1987',
 '12/13/2021',
 '5/1/1996',
 '7/11/1988',
 '7/1/1999',
 '7/7/1993',
 '7/15/1992',
 '3/23/2016']

In [13]:
import pandas as pd

In [14]:
machine_learning = pd.DataFrame({
    'Dataset Name':dataset,
    'Data Type': data_type,
    'Task': task,
    'Attribute Type':attribute,
    'No of Instance':no_of_instance,
    'No of Attribute':no_of_attribute,
    'Release':year
})

In [15]:
machine_learning

,Dataset Name,Data Type,Task,Attribute Type,No of Instance,No of Attribute,Release
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
5,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,2/14/2012
10,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A
11,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997
12,Student Performance,Multivariate,"Classification, Regression",Integer,649 Instances,33 Features,11/27/2014
13,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4.18K Instances,8 Features,12/1/1995
14,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Features,4/27/1987
15,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541.91K Instances,8 Features,11/6/2015
16,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1K Instances,20 Features,11/17/1994
17,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205 Instances,25 Features,5/19/1987
18,Predict Students' Dropout and Academic Success,Tabular,Classification,"Real, Categorical, Integer",4.42K Instances,36 Features,12/13/2021
19,Census Income,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
20,Breast Cancer,Multivariate,Classification,Categorical,286 Instances,9 Features,7/11/1988
21,Spambase,Multivariate,Classification,"Integer, Real",4.6K Instances,57 Features,7/1/1999
22,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398 Instances,7 Features,7/7/1993
23,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699 Instances,9 Features,7/15/1992
24,Air Quality,"Multivariate, Time-Series",Regression,Real,9.36K Instances,15 Features,3/23/2016

In [16]:
machine_learning.to_csv('Dataset.csv')

# Question : 7
    
7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [93]:
# Url = https://www.imdb.com/list/ls095964455/ --this url got 404 not found

In [79]:
driver.get('https://www.imdb.com/')

In [80]:
menu = driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/label[1]/span')
menu.click()

In [81]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[3]/span')
search.click()

In [82]:
tv_name = []
tv_year = []
run_time = []
tv_ratings = []
tv_votes = []

In [83]:
try:
    for name in driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 iALATN cli-title"]/a/h3')[:97]:
        tv_name.append(name.text)
except:
    print("Not Found")
    
tv_name

['The Boys',
 'House of the Dragon',
 'Bridgerton',
 'The Acolyte',
 'Presumed Innocent',
 'Game of Thrones',
 'Dark Matter',
 'Eric',
 'Your Honor',
 'Doctor Who',
 'Fallout',
 'Criminal Minds',
 'The Bear',
 'Yellowstone',
 'Breaking Bad',
 "Grey's Anatomy",
 'Mayor of Kingstown',
 'Dexter',
 'Stranger Things',
 'Sweet Tooth',
 'Shōgun',
 'Suits',
 'The Walking Dead',
 'The Penguin',
 'Doctor Who',
 'Young Sheldon',
 'Supernatural',
 'The Sopranos',
 'The Rookie',
 'True Detective',
 'Law & Order: Special Victims Unit',
 'Rick and Morty',
 'NCIS',
 'House',
 'Gen V',
 'Evil',
 'The Office',
 "Joko Anwar's Nightmares and Daydreams",
 'Under the Bridge',
 'Shameless',
 'Demon Slayer: Kimetsu no Yaiba',
 'The Gentlemen',
 'Hacks',
 'Psych',
 'From',
 '3 Body Problem',
 'The Big Bang Theory',
 'Smiling Friends',
 'Better Call Saul',
 'Attack on Titan',
 'Sex Education',
 'Outlander',
 '9-1-1',
 'Baby Reindeer',
 'Severance',
 'Peaky Blinders',
 'The Last of Us',
 'Friends',
 'Modern Family',
 'Black Mirror',
 'Vikings',
 'White Collar',
 'Queen Charlotte: A Bridgerton Story',
 'Succession',
 'Monk',
 'The Crown',
 'Midsomer Murders',
 'Fargo',
 'How I Met Your Mother',
 'Lost',
 'The Chosen',
 'Outer Range',
 'Ted Lasso',
 'Bones',
 'One Piece',
 'The Lord of the Rings: The Rings of Power',
 'American Horror Story',
 'Interview with the Vampire',
 'Euphoria',
 'Brooklyn Nine-Nine',
 "It's Always Sunny in Philadelphia",
 'Band of Brothers',
 'Geek Girl',
 'Silo',
 'Seinfeld',
 'The Simpsons',
 'The Wire',
 'Clipped',
 'Ripley',
 'Lady in the Lake',
 'Hotel Cocaine',
 'Reacher',
 'The X-Files',
 'The Good Doctor',
 'Bodkin',
 'Tracker',
 'Arcane']

In [84]:
try:
    for year in driver.find_elements(By.XPATH,'//div[@class="sc-b189961a-7 feoqjK cli-title-metadata"]/span[1]')[:97]:
        tv_year.append(year.text)
except:
    print("Not Found")  
    
tv_year

['2019–',
 '2022–',
 '2020–',
 '2024–',
 '2024',
 '2011–2019',
 '2024–',
 '2024',
 '2020–2023',
 '2023–',
 '2024–',
 '2005–',
 '2022–',
 '2018–',
 '2008–2013',
 '2005–',
 '2021–',
 '2006–2013',
 '2016–2025',
 '2021–2024',
 '2024–2026',
 '2011–2019',
 '2010–2022',
 '2024–',
 '2005–2022',
 '2017–2024',
 '2005–2020',
 '1999–2007',
 '2018–',
 '2014–',
 '1999–',
 '2013–',
 '2003–',
 '2004–2012',
 '2023–',
 '2019–2024',
 '2005–2013',
 '2024–',
 '2024',
 '2011–2021',
 '2019–',
 '2024',
 '2021–',
 '2006–2014',
 '2022–',
 '2024–',
 '2007–2019',
 '2020–',
 '2015–2022',
 '2013–2023',
 '2019–2023',
 '2014–',
 '2018–',
 '2024',
 '2022–',
 '2013–2022',
 '2023–',
 '1994–2004',
 '2009–2020',
 '2011–',
 '2013–2020',
 '2009–2014',
 '2023',
 '2018–2023',
 '2002–2009',
 '2016–2023',
 '1997–',
 '2014–2024',
 '2005–2014',
 '2004–2010',
 '2017–',
 '2022–',
 '2020–2023',
 '2005–2017',
 '1999–',
 '2022–',
 '2011–',
 '2022–',
 '2019–',
 '2013–2021',
 '2005–',
 '2001',
 '2024–',
 '2023–',
 '1989–1998',
 '1989–',
 '2002–2008',
 '2024',
 '2024',
 '2024–',
 '2024–',
 '2022–',
 '1993–2018',
 '2017–2024',
 '2024–',
 '2024–',
 '2021–2024']

In [85]:
try:
    for episode in driver.find_elements(By.XPATH,'//div[@class="sc-b189961a-7 feoqjK cli-title-metadata"]/span[2]')[:97]:
        run_time.append(episode.text)
except:
    print("Not Found")    
    
run_time

['33 eps',
 '20 eps',
 '25 eps',
 '8 eps',
 '8 eps',
 '74 eps',
 '9 eps',
 '6 eps',
 '20 eps',
 '14 eps',
 '9 eps',
 '345 eps',
 '29 eps',
 '53 eps',
 '62 eps',
 '431 eps',
 '30 eps',
 '96 eps',
 '42 eps',
 '24 eps',
 '12 eps',
 '134 eps',
 '177 eps',
 '8 eps',
 '175 eps',
 '141 eps',
 '327 eps',
 '86 eps',
 '109 eps',
 '31 eps',
 '552 eps',
 '74 eps',
 '468 eps',
 '176 eps',
 '10 eps',
 '50 eps',
 '188 eps',
 '7 eps',
 '8 eps',
 '134 eps',
 '69 eps',
 '8 eps',
 '28 eps',
 '121 eps',
 '30 eps',
 '10 eps',
 '280 eps',
 '21 eps',
 '63 eps',
 '98 eps',
 '32 eps',
 '101 eps',
 '107 eps',
 '7 eps',
 '19 eps',
 '36 eps',
 '16 eps',
 '234 eps',
 '250 eps',
 '33 eps',
 '93 eps',
 '81 eps',
 '6 eps',
 '39 eps',
 '124 eps',
 '60 eps',
 '140 eps',
 '51 eps',
 '208 eps',
 '121 eps',
 '35 eps',
 '15 eps',
 '34 eps',
 '245 eps',
 '1123 eps',
 '17 eps',
 '133 eps',
 '16 eps',
 '19 eps',
 '153 eps',
 '172 eps',
 '10 eps',
 '10 eps',
 '20 eps',
 '173 eps',
 '768 eps',
 '60 eps',
 '6 eps',
 '8 eps',
 '7 eps',
 '8 eps',
 '17 eps',
 '217 eps',
 '126 eps',
 '7 eps',
 '14 eps',
 '10 eps']

In [86]:
try:
    for rate in driver.find_elements(By.XPATH,'//span[@class="sc-b189961a-1 kcfvgk"]/div/span[1]')[:97]:
        tv_ratings.append(rate.text.replace('\n','').split(' ')[0])
except:
    print("Not Found")   
 

tv_ratings

['8.7',
 '8.4',
 '7.4',
 '3.4',
 '7.6',
 '9.2',
 '7.8',
 '6.9',
 '7.6',
 '6.1',
 '8.4',
 '8.1',
 '8.6',
 '8.7',
 '9.5',
 '7.6',
 '8.2',
 '8.6',
 '8.7',
 '7.7',
 '8.7',
 '8.4',
 '8.1',
 '',
 '8.6',
 '7.7',
 '8.4',
 '9.2',
 '8.0',
 '8.9',
 '8.1',
 '9.1',
 '7.8',
 '8.7',
 '7.7',
 '7.8',
 '9.0',
 '6.6',
 '7.2',
 '8.5',
 '8.6',
 '8.1',
 '8.2',
 '8.4',
 '7.7',
 '7.5',
 '8.1',
 '8.5',
 '9.0',
 '9.1',
 '8.2',
 '8.4',
 '7.9',
 '7.8',
 '8.7',
 '8.8',
 '8.7',
 '8.9',
 '8.5',
 '8.7',
 '8.5',
 '8.2',
 '7.5',
 '8.8',
 '8.1',
 '8.6',
 '7.9',
 '8.9',
 '8.3',
 '8.3',
 '9.2',
 '7.1',
 '8.8',
 '7.8',
 '9.0',
 '7.0',
 '8.0',
 '7.3',
 '8.3',
 '8.4',
 '8.8',
 '9.4',
 '6.6',
 '8.1',
 '8.9',
 '8.7',
 '9.3',
 '6.4',
 '8.2',
 '',
 '6.1',
 '8.1',
 '8.6',
 '8.0',
 '7.0',
 '7.0',
 '9.0']

In [88]:
try:
    for vote in driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star--voteCount"]')[:97]:
        if vote.text is None:
            tv_votes.append('-')
        else:
            tv_votes.append(vote.text)
except:
    print("Not Found")
    
tv_votes

[' (679K)',
 ' (397K)',
 ' (186K)',
 ' (75K)',
 ' (5.1K)',
 ' (2.3M)',
 ' (22K)',
 ' (25K)',
 ' (69K)',
 ' (16K)',
 ' (217K)',
 ' (221K)',
 ' (223K)',
 ' (227K)',
 ' (2.2M)',
 ' (345K)',
 ' (50K)',
 ' (777K)',
 ' (1.4M)',
 ' (71K)',
 ' (147K)',
 ' (486K)',
 ' (1.1M)',
 ' (249K)',
 ' (112K)',
 ' (487K)',
 ' (479K)',
 ' (76K)',
 ' (663K)',
 ' (127K)',
 ' (609K)',
 ' (165K)',
 ' (521K)',
 ' (97K)',
 ' (37K)',
 ' (723K)',
 ' (1.4K)',
 ' (8.9K)',
 ' (290K)',
 ' (153K)',
 ' (121K)',
 ' (43K)',
 ' (109K)',
 ' (76K)',
 ' (127K)',
 ' (876K)',
 ' (17K)',
 ' (659K)',
 ' (528K)',
 ' (356K)',
 ' (181K)',
 ' (49K)',
 ' (125K)',
 ' (209K)',
 ' (660K)',
 ' (543K)',
 ' (1.1M)',
 ' (489K)',
 ' (646K)',
 ' (589K)',
 ' (143K)',
 ' (61K)',
 ' (280K)',
 ' (92K)',
 ' (259K)',
 ' (40K)',
 ' (425K)',
 ' (733K)',
 ' (600K)',
 ' (48K)',
 ' (40K)',
 ' (356K)',
 ' (178K)',
 ' (243K)',
 ' (358K)',
 ' (346K)',
 ' (25K)',
 ' (247K)',
 ' (369K)',
 ' (254K)',
 ' (534K)',
 ' (4.4K)',
 ' (127K)',
 ' (355K)',
 ' (439K)',
 ' (381K)',
 ' (905)',
 ' (42K)',
 ' (366)',
 ' (217K)',
 ' (252K)',
 ' (116K)',
 ' (14K)',
 ' (10K)',
 ' (279K)',
 ' (213K)',
 ' (594K)']

In [90]:
len(tv_name),len(tv_ratings),len(tv_votes),len(tv_year),len(run_time)

(97, 97, 97, 97, 97)

In [91]:
IMDB = pd.DataFrame({
    'TV Show Name':tv_name,
    'Year':tv_year,
    'Episodes':run_time,
    'Rating':tv_ratings,
    'Votes':tv_votes
})

IMDB

           TV Show Name       Year Episodes Rating    Votes
0              The Boys      2019–   33 eps    8.7   (679K)
1   House of the Dragon      2022–   20 eps    8.4   (397K)
2            Bridgerton      2020–   25 eps    7.4   (186K)
3           The Acolyte      2024–    8 eps    3.4    (75K)
4     Presumed Innocent       2024    8 eps    7.6   (5.1K)
..                  ...        ...      ...    ...      ...
92          The X-Files  1993–2018  217 eps    8.6    (14K)
93      The Good Doctor  2017–2024  126 eps    8.0    (10K)
94               Bodkin      2024–    7 eps    7.0   (279K)
95              Tracker      2024–   14 eps    7.0   (213K)
96               Arcane  2021–2024   10 eps    9.0   (594K)

[97 rows x 5 columns]

In [92]:
IMDB.to_csv('IMDB_dataset.csv')

# Question : 1
    
1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [40]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [43]:
name = []

try:
    for x in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]/a')[:25]:
        if x.text is None:
            name.append('-')
        else:
            name.append(x.text)
except:
    pass

name

['Baby Shark Dance',
 'Despacito',
 'Johny Johny Yes Papa',
 'Bath Song',
 'See You Again',
 'Shape of You',
 'Wheels on the Bus',
 'Phonics Song with Two Words',
 'Uptown Funk',
 'Gangnam Style',
 'Learning Colors – Colorful Eggs on a Farm',
 'Dame Tu Cosita',
 'Axel F',
 'Baa Baa Black Sheep',
 'Lakdi Ki Kathi',
 'Sugar',
 'Counting Stars',
 'Roar',
 'Waka Waka (This Time for Africa)',
 'Shree Hanuman Chalisa',
 'Humpty the train on a fruits ride',
 'Sorry',
 'Thinking Out Loud',
 'Perfect',
 'Dark Horse']

In [44]:
artist = []

try:
    for x in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]/a')[:25]:
        artist.append(x.text)
except:
    pass

artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'Cocomelon - Nursery Rhymes',
 'Wiz Khalifa',
 'Ed Sheeran',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Psy',
 'Ultra Records',
 'Crazy Frog',
 'Get Movies',
 'Cocomelon - Nursery Rhymes',
 'Maroon 5',
 'OneRepublic',
 'Katy Perry',
 'Shakira',
 'T-Series Bhakti Sagar',
 'Justin Bieber',
 'Ed Sheeran',
 'Ed Sheeran',
 'Katy Perry',
 'Passenger',
 'Alan Walker',
 'Maroon 5']

In [45]:
upload_date = []

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')[:25]:
        upload_date.append(i.text)
except:
    pass

upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'April 6, 2015',
 'January 30, 2017',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'April 5, 2018',
 'June 16, 2009',
 'January 31, 2012',
 'June 25, 2018',
 'June 14, 2018',
 'January 14, 2015',
 'May 31, 2013',
 'September 5, 2013',
 'June 4, 2010',
 'May 10, 2011',
 'January 26, 2018',
 'October 22, 2015',
 'October 7, 2014',
 'November 9, 2017']

In [46]:
views = []

try:
    for x in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')[:25]:
        views.append(x.text)
except:
    pass

views

['14.66',
 '8.47',
 '6.92',
 '6.75',
 '6.30',
 '6.28',
 '6.22',
 '5.84',
 '5.25',
 '5.20',
 '5.13',
 '4.68',
 '4.60',
 '4.60',
 '4.10',
 '4.07',
 '4.06',
 '4.03',
 '4.01',
 '3.96',
 '3.90',
 '3.84',
 '3.82',
 '3.78',
 '3.75']

In [47]:
len(name),len(artist),len(upload_date),len(views)

(25, 25, 25, 25)

In [48]:
YouTube = pd.DataFrame({
    'Name':name,
    'Artist':artist,
    'Upload Date':upload_date,
    'Views':views
})

YouTube

,Name,Artist,Upload Date,Views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.66
1,Despacito,Luis Fonsi,"January 12, 2017",8.47
2,Johny Johny Yes Papa,Cocomelon - Nursery Rhymes,"October 8, 2016",6.92
3,Bath Song,Wiz Khalifa,"May 2, 2018",6.75
4,See You Again,Ed Sheeran,"April 6, 2015",6.30
5,Shape of You,Cocomelon - Nursery Rhymes,"January 30, 2017",6.28
6,Wheels on the Bus,ChuChu TV Nursery Rhymes & Kids Songs,"May 24, 2018",6.22
7,Phonics Song with Two Words,Mark Ronson,"March 6, 2014",5.84
8,Uptown Funk,Psy,"November 19, 2014",5.25
9,Gangnam Style,Ultra Records,"July 15, 2012",5.20
10,Learning Colors – Colorful Eggs on a Farm,Crazy Frog,"February 27, 2018",5.13
11,Dame Tu Cosita,Get Movies,"April 5, 2018",4.68
12,Axel F,Cocomelon - Nursery Rhymes,"June 16, 2009",4.60
13,Baa Baa Black Sheep,Maroon 5,"January 31, 2012",4.60
14,Lakdi Ki Kathi,OneRepublic,"June 25, 2018",4.10
15,Sugar,Katy Perry,"June 14, 2018",4.07
16,Counting Stars,Shakira,"January 14, 2015",4.06
17,Roar,T-Series Bhakti Sagar,"May 31, 2013",4.03
18,Waka Waka (This Time for Africa),Justin Bieber,"September 5, 2013",4.01
19,Shree Hanuman Chalisa,Ed Sheeran,"June 4, 2010",3.96
20,Humpty the train on a fruits ride,Ed Sheeran,"May 10, 2011",3.90
21,Sorry,Katy Perry,"January 26, 2018",3.84
22,Thinking Out Loud,Passenger,"October 22, 2015",3.82
23,Perfect,Alan Walker,"October 7, 2014",3.78
24,Dark Horse,Maroon 5,"November 9, 2017",3.75

In [49]:
YouTube.to_csv('youtube.csv')

# Question : 2
    
2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [61]:
driver.get('https://www.bcci.tv/')

In [62]:
search_tag = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
search_tag.click()

In [63]:
result = driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[2]/div[1]/div[3]')
result.click()

In [70]:
matches = driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[2]/div/button')
matches.click()

In [71]:
series = []

try:
    for match in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        series.append(match.text)
except:
    print("No Such Element Found")
    
series

['ICC Mens T20 World Cup 2024',
 'ICC Mens T20 World Cup 2024',
 'South Africa Women Tour Of India ODI Series 2024',
 'ICC Mens T20 World Cup 2024',
 'ICC Mens T20 World Cup 2024',
 'South Africa Women Tour Of India ODI Series 2024',
 'South Africa Women Tour Of India ODI Series 2024',
 'ICC Mens T20 World Cup 2024',
 'South Africa Women Tour Of India Warm Up Match 2024',
 'ICC Mens T20 World Cup 2024',
 'ICC Mens T20 World Cup 2024',
 'ICC Mens T20 World Cup 2024',
 'ICC Mens T20 World Cup Warm Up 2024',
 'India Women Tour Of Bangladesh T20 Series 2024',
 'India Women Tour Of Bangladesh T20 Series 2024',
 'India Women Tour Of Bangladesh T20 Series 2024',
 'India Women Tour Of Bangladesh T20 Series 2024',
 'India Women Tour Of Bangladesh T20 Series 2024',
 'England Tour Of India Test Series 2023-24',
 'England Tour Of India Test Series 2023-24']

In [72]:
stadium = []

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]/span[1]'):
        stadium.append(i.text)
except:
    print("No Such Element Found")
    
stadium

['Providence Stadium,',
 'Daren Sammy National Cricket Stadium, Gros Islet,',
 'M Chinnaswamy Stadium,',
 'Sir Vivian Richards Stadium,',
 'Kensington Oval,',
 'M Chinnaswamy Stadium,',
 'M Chinnaswamy Stadium,',
 'Central Broward Park & Broward County Stadium, Lauderhill,',
 'M Chinnaswamy Stadium,',
 'Nassau County International Cricket Stadium,',
 'Nassau County International Cricket Stadium,',
 'Nassau County International Cricket Stadium,',
 'Nassau County International Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'Himachal Pradesh Cricket Association Stadium,',
 'JSCA International Stadium Complex,']

In [73]:
place = []

try:
    for venue in driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]/span[2]'):
        place.append(venue.text)
except:
    print("No Such Element Found")
    
place

['Guyana',
 'St Lucia',
 'Bengaluru',
 'Antigua',
 'Barbados',
 'Bengaluru',
 'Bengaluru',
 'Florida',
 'Bengaluru',
 'New York',
 'New York',
 'New York',
 'New York',
 'Sylhet',
 'Sylhet',
 'Sylhet',
 'Sylhet',
 'Sylhet',
 'Dharamsala',
 'Ranchi']

In [74]:
date = []

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        date.append(i.text)
except:
   print("No Such Element Found")

date

['27 Jun',
 '24 Jun',
 '23 Jun',
 '22 Jun',
 '20 Jun',
 '19 Jun',
 '16 Jun',
 '15 Jun',
 '13 Jun',
 '12 Jun',
 '9 Jun',
 '5 Jun',
 '1 Jun',
 '9 May',
 '6 May',
 '2 May',
 '30 Apr',
 '28 Apr',
 '7 Mar',
 '23 Feb']

In [75]:
time = []

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        time.append(i.text.replace('IST',''))
except:
    print("No Such Element Found")
    
time

['20:00 ',
 '20:00 ',
 '13:30 ',
 '20:00 ',
 '20:00 ',
 '13:30 ',
 '13:30 ',
 '20:00 ',
 '13:30 ',
 '20:00 ',
 '20:00 ',
 '20:00 ',
 '20:00 ',
 '15:30',
 '15:30',
 '15:30',
 '15:30',
 '15:30',
 '9:30',
 '9:30']

In [76]:
ICC = pd.DataFrame({
    'Series':series,
    'Stadium':stadium,
    'Location':place,
    'Date':date,
    'Time(IST)':time
})

ICC

,Series,Stadium,Location,Date,Time(IST)
0,ICC Mens T20 World Cup 2024,"Providence Stadium,",Guyana,27 Jun,20:00
1,ICC Mens T20 World Cup 2024,"Daren Sammy National Cricket Stadium, Gros Islet,",St Lucia,24 Jun,20:00
2,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium,",Bengaluru,23 Jun,13:30
3,ICC Mens T20 World Cup 2024,"Sir Vivian Richards Stadium,",Antigua,22 Jun,20:00
4,ICC Mens T20 World Cup 2024,"Kensington Oval,",Barbados,20 Jun,20:00
5,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium,",Bengaluru,19 Jun,13:30
6,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium,",Bengaluru,16 Jun,13:30
7,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",Florida,15 Jun,20:00
8,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium,",Bengaluru,13 Jun,13:30
9,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium,",New York,12 Jun,20:00
10,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium,",New York,9 Jun,20:00
11,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium,",New York,5 Jun,20:00
12,ICC Mens T20 World Cup Warm Up 2024,"Nassau County International Cricket Stadium,",New York,1 Jun,20:00
13,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium,",Sylhet,9 May,15:30
14,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium,",Sylhet,6 May,15:30
15,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium,",Sylhet,2 May,15:30
16,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium,",Sylhet,30 Apr,15:30
17,India Women Tour Of Bangladesh T20 Series 2024,"Sylhet International Cricket Stadium,",Sylhet,28 Apr,15:30
18,England Tour Of India Test Series 2023-24,"Himachal Pradesh Cricket Association Stadium,",Dharamsala,7 Mar,9:30
19,England Tour Of India Test Series 2023-24,"JSCA International Stadium Complex,",Ranchi,23 Feb,9:30

In [77]:
ICC.to_csv('ICC_Match.csv')

# Question : 3
    
3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [39]:
driver.get('http://statisticstimes.com/')

In [40]:
search_tag = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
search_tag.click()

In [41]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search.click()

In [42]:
india = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
india.click()

In [51]:
rank = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[1]')[:17]:
        rank.append(i.text.split(' ')[0])
except:
    print("No Such Element Found")
    
rank

['1',
 '3',
 '5',
 '7',
 '9',
 '11',
 '13',
 '15',
 '17',
 '19',
 '21',
 '23',
 '25',
 '27',
 '29',
 '31',
 '33']

In [50]:
state = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[2]')[:17]:
        state.append(i.text)
except:
    print("No Such Element Found")
    
state

['Maharashtra',
 'Karnataka',
 'Gujarat',
 'Rajasthan',
 'Telangana',
 'Kerala',
 'Haryana',
 'Bihar',
 'Assam',
 'Jharkhand',
 'Jammu & Kashmir',
 'Goa',
 'Chandigarh',
 'Meghalaya',
 'Manipur',
 'Nagaland',
 'Andaman & Nicobar Islands']

In [52]:
gsdp_21_22 = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[5]')[:17]:
        gsdp_21_22.append(i.text)
except:
    print('Error Occured')
    
gsdp_21_22

['3,108,022',
 '1,978,094',
 '1,928,683',
 '1,193,489',
 '1,124,204',
 '934,542',
 '868,905',
 '650,302',
 '411,454',
 '358,863',
 '193,352',
 '84,266',
 '46,096',
 '38,785',
 '36,594',
 '31,038',
 '10,371']

In [53]:
gsdp_22_23 = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[4]')[:17]:
        gsdp_22_23.append(i.text)
except:
    print('Error Occured')
    
gsdp_22_23

['-',
 '2,269,995',
 '2,230,609',
 '1,365,849',
 '1,308,034',
 '1,046,188',
 '984,055',
 '751,396',
 '493,167',
 '393,722',
 '224,226',
 '93,672',
 '54,285',
 '42,697',
 '-',
 '35,643',
 '-']

In [54]:
share = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[6]')[:17]:
        share.append(i.text)
except:
    print('Error Occured')
    
share

['13.17%',
 '8.38%',
 '8.17%',
 '5.06%',
 '4.76%',
 '3.96%',
 '3.68%',
 '2.76%',
 '1.74%',
 '1.52%',
 '0.82%',
 '0.36%',
 '0.20%',
 '0.16%',
 '0.16%',
 '0.13%',
 '0.04%']

In [55]:
gdp = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[7]')[:17]:
        gdp.append(i.text)
except:
    print('Error Occured')
    
gdp

['414.928',
 '264.080',
 '257.484',
 '159.334',
 '150.084',
 '124.764',
 '116.001',
 '86.817',
 '54.930',
 '47.909',
 '25.813',
 '11.250',
 '6.154',
 '5.178',
 '4.885',
 '4.144',
 '1.385']

In [57]:
df_1 = pd.DataFrame({
    'rank':rank,
    'state':state,
    'gsdp(22-23)':gsdp_22_23,
    'gsdp(21-22)':gsdp_21_22,
    'share':share,
    'GDP':gdp
})

In [67]:
rank = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="even"]/td[1]')[:16]:
        rank.append(i.text.split(' ')[0])
except:
    print("No Such Element Found")

In [68]:
state = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="even"]/td[2]')[:16]:
        state.append(i.text)
except:
    print("No Such Element Found")

In [69]:
gsdp_21_22 = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="even"]/td[5]')[:16]:
        gsdp_21_22.append(i.text)
except:
    print('Error Occured')

In [70]:
gsdp_22_23 = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="even"]/td[4]')[:16]:
        gsdp_22_23.append(i.text)
except:
    print('Error Occured')

In [71]:
share = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="even"]/td[6]')[:16]:
        share.append(i.text)
except:
    print('Error Occured')

In [72]:
gdp = []

try:
    for i in driver.find_elements(By.XPATH,'//tr[@class="even"]/td[7]')[:16]:
        gdp.append(i.text)
except:
    print('Error Occured')

In [82]:
df_2 = pd.DataFrame({
    'rank':rank,
    'state':state,
    'gsdp(22-23)':gsdp_22_23,
    'gsdp(21-22)':gsdp_21_22,
    'share':share,
    'GDP':gdp
})

In [81]:
result = pd.concat([df_1, df_2], ignore_index=True)

result

   rank                      state gsdp(22-23) gsdp(21-22)   share      GDP
0     1                Maharashtra           -   3,108,022  13.17%  414.928
1     3                  Karnataka   2,269,995   1,978,094   8.38%  264.080
2     5                    Gujarat   2,230,609   1,928,683   8.17%  257.484
3     7                  Rajasthan   1,365,849   1,193,489   5.06%  159.334
4     9                  Telangana   1,308,034   1,124,204   4.76%  150.084
5    11                     Kerala   1,046,188     934,542   3.96%  124.764
6    13                    Haryana     984,055     868,905   3.68%  116.001
7    15                      Bihar     751,396     650,302   2.76%   86.817
8    17                      Assam     493,167     411,454   1.74%   54.930
9    19                  Jharkhand     393,722     358,863   1.52%   47.909
10   21            Jammu & Kashmir     224,226     193,352   0.82%   25.813
11   23                        Goa      93,672      84,266   0.36%   11.250
12   25                 Chandigarh      54,285      46,096   0.20%    6.154
13   27                  Meghalaya      42,697      38,785   0.16%    5.178
14   29                    Manipur           -      36,594   0.16%    4.885
15   31                   Nagaland      35,643      31,038   0.13%    4.144
16   33  Andaman & Nicobar Islands           -      10,371   0.04%    1.385
17    2                 Tamil Nadu   2,364,514   2,071,286   8.78%  276.522
18    4              Uttar Pradesh   2,258,040   1,975,595   8.37%  263.747
19    6                West Bengal   1,531,758   1,329,238   5.63%  177.456
20    8             Andhra Pradesh   1,303,524   1,148,471   4.87%  153.324
21   10             Madhya Pradesh   1,246,471   1,092,964   4.63%  145.913
22   12                      Delhi   1,014,688     881,336   3.73%  117.660
23   14                     Odisha     753,177     662,886   2.81%   88.497
24   16                     Punjab     676,164     617,192   2.62%   82.397
25   18               Chhattisgarh     464,399     410,525   1.74%   54.806
26   20                Uttarakhand     303,781     267,143   1.13%   35.664
27   22           Himachal Pradesh     191,728     172,162   0.73%   22.984
28   24                    Tripura      72,636      62,550   0.27%    8.351
29   26                 Puducherry      49,643      43,810   0.19%    5.849
30   28                     Sikkim      42,756      37,557   0.16%    5.014
31   30          Arunachal Pradesh      39,630      34,775   0.15%    4.643
32   32                    Mizoram           -      27,824   0.12%    3.715

# Question : 6
    
6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [44]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [45]:
book_name = []

try:
    for book in driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]'):
        book_name.append(book.text)
except:
    print("No Books Found")
    
book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [46]:
author_name = []

try:
    for author in driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]'):
        author_name.append(author.text)
except:
    print("No Author Found")
    
author_name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [49]:
volume_sale = []

try:
    for volumn in driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]'):
        volume_sale.append(volumn.text)
except:
    print("No Sales Found")
    
volume_sale

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [50]:
publisher_name = []

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]'):
        publisher_name.append(i.text)
except:
    print('No Publisher is found')
    
    
publisher_name

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [51]:
genre_name = []

try:
    for x in driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]'):
        genre_name.append(x.text)
except:
    print("No Genre Found")
    
genre_name

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [52]:
Novels = pd.DataFrame({
    'Book':book_name,
    'Author':author_name,
    'Volume Sold':volume_sale,
    'Publisher':publisher_name,
    'Genre':genre_name
})


Novels

,Book,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [53]:
Novels.to_csv('Novels.csv')

# Question : 5

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [3]:
driver.get('https:/www.billboard.com/')

In [4]:
cursur = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
cursur.click()

In [5]:
search = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
search.click()

In [6]:
song_name = []

try:
    for song in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3'):
        song_name.append(song.text)
except:
    print('No Song Loaded')
    
song_name

['Please Please Please',
 'I Had Some Help',
 'A Bar Song (Tipsy)',
 'Espresso',
 'Million Dollar Baby',
 'Not Like Us',
 'Too Sweet',
 'Beautiful Things',
 'Lose Control',
 'Birds Of A Feather',
 'Pink Skies',
 'Houdini',
 'Fortnight',
 'Like That',
 'Cowgirls',
 'Good Luck, Babe!',
 'Saturn',
 'Lunch',
 "We Can't Be Friends (Wait For Your Love)",
 'Austin',
 'Whiskey Whiskey',
 'I Remember Everything',
 'Feather',
 'Miles On It',
 'Wanna Be',
 'Lovin On Me',
 'High Road',
 'Stick Season',
 'BAND4BAND',
 'I Am Not Okay',
 'Gata Only',
 'Yeah Glo!',
 "Ain't No Love In Oklahoma",
 'Slow It Down',
 'Remember Him That Way',
 'Chihiro',
 'End Of Beginning',
 'Get It Sexyy',
 'The Man He Sees In Me',
 'Bulletproof',
 'Greedy',
 'Agora Hills',
 'Where It Ends',
 'Stargazing',
 'I Can Do It With A Broken Heart',
 'I Like The Way You Kiss Me',
 'Devil Is A Lie',
 'Whatever She Wants',
 'Sweet Dreams',
 'One Of Wun',
 'Type Shit',
 'Euphoria',
 'Dirt Cheap',
 'Red Wine Supernova',
 'Hot To Go!',
 'Wild Ones',
 'Wildflower',
 'Attitude',
 'U My Everything',
 'Illusion',
 'Brother Stone',
 'Nasty',
 'We Ride',
 'Down Bad',
 'Si No Quieres No',
 "Think I'm In Love With You",
 "Wind Up Missin' You",
 'Wine Into Whiskey',
 'Close To You',
 "L'amour De Ma Vie",
 'The Thin Grey Line',
 'Scared To Start',
 'Bandit',
 'The Boy Is Mine',
 'Halfway To Hell',
 'The Door',
 "Texas Hold 'Em",
 'Tore Up',
 'Belong Together',
 'Your Place',
 'After Hours',
 '360',
 "Who's Afraid Of Little Old Me?",
 'Blue',
 'Beautiful As You',
 'Burgundy',
 'Hell N Back',
 'Guilty As Sin?',
 'Enough (Miami)',
 'Pink Pony Club',
 'Thorns',
 'Ice Age',
 'Take Her Home',
 'Let Your Boys Be Country',
 'Front Door Famous',
 'Spin You Around (1/24)',
 'Get In With Me',
 'Kryptonite',
 'Carnival',
 'Chevrolet']

In [7]:
artist_name = []

try:
    for artist in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span'):
        artist_name.append(artist.text)
except:
    print('Error Occurred')
    
artist_name

['Sabrina Carpenter',
 'Post Malone Featuring Morgan Wallen',
 'Shaboozey',
 'Sabrina Carpenter',
 'Tommy Richman',
 'Kendrick Lamar',
 'Hozier',
 'Benson Boone',
 'Teddy Swims',
 'Billie Eilish',
 'Zach Bryan',
 'Eminem',
 'Taylor Swift Featuring Post Malone',
 'Future, Metro Boomin & Kendrick Lamar',
 'Morgan Wallen Featuring ERNEST',
 'Chappell Roan',
 'SZA',
 'Billie Eilish',
 'Ariana Grande',
 'Dasha',
 'Moneybagg Yo Featuring Morgan Wallen',
 'Zach Bryan Featuring Kacey Musgraves',
 'Sabrina Carpenter',
 'Marshmello & Kane Brown',
 'GloRilla & Megan Thee Stallion',
 'Jack Harlow',
 'Koe Wetzel & Jessie Murph',
 'Noah Kahan',
 'Central Cee & Lil Baby',
 'Jelly Roll',
 'FloyyMenor X Cris Mj',
 'GloRilla',
 'Luke Combs',
 'Benson Boone',
 'Luke Combs',
 'Billie Eilish',
 'Djo',
 'Sexyy Red',
 'Luke Combs',
 'Nate Smith',
 'Tate McRae',
 'Doja Cat',
 'Bailey Zimmerman',
 'Myles Smith',
 'Taylor Swift',
 'Artemas',
 'Tommy Richman',
 'Bryson Tiller',
 'Koe Wetzel',
 'Gunna',
 'Future, Metro Boomin, Travis Scott & Playboi Carti',
 'Kendrick Lamar',
 'Cody Johnson',
 'Chappell Roan',
 'Chappell Roan',
 'Jessie Murph & Jelly Roll',
 'Billie Eilish',
 'Don Toliver Featuring Charlie Wilson & Cash Cobain',
 'Sexyy Red & Drake',
 'Dua Lipa',
 'Don Toliver Featuring Kodak Black',
 'Tinashe',
 'Bryan Martin',
 'Taylor Swift',
 'Luis R Conriquez x Neton Vega',
 'Chris Stapleton',
 'Tucker Wetmore',
 'Tucker Wetmore',
 'Gracie Abrams',
 'Billie Eilish',
 '$uicideboy$',
 'Michael Marcagi',
 'Don Toliver',
 'Ariana Grande',
 'Jelly Roll',
 'Teddy Swims',
 'Beyonce',
 'Don Toliver',
 'Mark Ambor',
 'Ashley Cooke',
 'Kehlani',
 'Charli XCX',
 'Taylor Swift',
 'Billie Eilish',
 'Thomas Rhett',
 '$uicideboy$',
 'Bakar Featuring Summer Walker',
 'Taylor Swift',
 'Cardi B',
 'Chappell Roan',
 '$uicideboy$',
 'Don Toliver Featuring Travis Scott',
 'Kenny Chesney',
 'Jason Aldean',
 'Luke Combs',
 'Morgan Wallen',
 'BossMan DLow',
 'Don Toliver',
 '¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti',
 'Dustin Lynch Featuring Jelly Roll']

In [9]:
last_week_rank = []

try:
    for rank in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span'):
        last_week_rank.append(rank.text)
except:
    print('No Rank Occurred')
    
len(last_week_rank)

100

In [10]:
peak_rank = []

try:
    for rank in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span'):
        peak_rank.append(rank.text)
except:
    print('No Rank Occurred')
    
len(peak_rank)

100

In [11]:
weeks_on_board = []

try:
    for board in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span'):
        weeks_on_board.append(board.text)
except:
    print('No Rank Occurred')
    
len(weeks_on_board)

100

In [12]:
Billiboard = pd.DataFrame({
    'Song Name':song_name,
    'Artist':artist_name,
    'Last Week Rank':last_week_rank,
    'Peak Rank':peak_rank,
    'Weeks On Board':weeks_on_board
})

Billiboard

,Song Name,Artist,Last Week Rank,Peak Rank,Weeks On Board
0,Please Please Please,Sabrina Carpenter,2,1,2
1,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,6
2,A Bar Song (Tipsy),Shaboozey,4,3,10
3,Espresso,Sabrina Carpenter,3,3,10
4,Million Dollar Baby,Tommy Richman,5,2,8
...,...,...,...,...,...
95,Spin You Around (1/24),Morgan Wallen,95,24,20
96,Get In With Me,BossMan DLow,88,49,20
97,Kryptonite,Don Toliver,-,98,1
98,Carnival,¥$: Ye & Ty Dolla $ign Featuring Rich The Kid ...,82,1,19
99,Chevrolet,Dustin Lynch Featuring Jelly Roll,-,100,1

In [13]:
Billiboard.to_csv('Billiboard.csv')

# Question : 4
    
4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [28]:
driver.get('https://github.com/')

In [29]:
open_source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/button')
open_source.click()

In [30]:
trend = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')
trend.click()

In [31]:
title = []
description = []
language = []

In [33]:
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="Link"]'):
        title.append(i.text)
except:
    print('Not found')
    
title

['tigerbeetle / tigerbeetle',
 'astral-sh / uv',
 'microsoft / generative-ai-for-beginners',
 'ClayAmore / ER-Save-Editor',
 'starship / starship',
 'dortania / OpenCore-Legacy-Patcher',
 'mrdbourke / pytorch-deep-learning',
 'google / leveldb',
 'LizardByte / Sunshine',
 'microsoft / semantic-kernel',
 'neovim / neovim',
 'WerWolv / ImHex',
 'yt-dlp / yt-dlp',
 'wolfpld / tracy',
 'goatcorp / Dalamud',
 'Asabeneh / 30-Days-Of-Python',
 'ocornut / imgui',
 'pedroslopez / whatsapp-web.js',
 'Koenkk / zigbee2mqtt',
 'ruffle-rs / ruffle']

In [34]:
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
        description.append(i.text)
except:
    print("Not Found")
    
description

['The distributed financial transactions database designed for mission critical safety and performance.',
 'An extremely fast Python package installer and resolver, written in Rust.',
 '18 Lessons, Get Started Building with Generative AI 🔗 https://microsoft.github.io/generative-ai-for-beginners/',
 'Elden Ring Save Editor. Compatible with PC and Playstation saves.',
 '☄🌌️ The minimal, blazing-fast, and infinitely customizable prompt for any shell!',
 'Experience macOS just like before',
 'Materials for the Learn PyTorch for Deep Learning: Zero to Mastery course.',
 'LevelDB is a fast key-value storage library written at Google that provides an ordered mapping from string keys to string values.',
 'Self-hosted game stream host for Moonlight.',
 'Integrate cutting-edge LLM technology quickly and easily into your apps',
 'Vim-fork focused on extensibility and usability',
 '🔍 A Hex Editor for Reverse Engineers, Programmers and people who value their retinas when working at 3 AM.',
 'A feature-rich command-line audio/video downloader',
 'Frame profiler',
 'FFXIV plugin framework and API',
 '30 days of Python programming challenge is a step-by-step guide to learn the Python programming language in 30 days. This challenge may take more than100 days, follow your own pace. These videos may help too: https://www.youtube.com/channel/UC7PNRuno1rzYPb1xLa4yktw',
 'Dear ImGui: Bloat-free Graphical User interface for C++ with minimal dependencies',
 'A WhatsApp client library for NodeJS that connects through the WhatsApp Web browser app',
 'Zigbee 🐝 to MQTT bridge 🌉, get rid of your proprietary Zigbee bridges 🔨',
 'A Flash Player emulator written in Rust']

In [35]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span/span[2]'):
        language.append(i.text)
except:
    print("Not Found")
    
    
language

['Zig',
 'Rust',
 'Jupyter Notebook',
 'Rust',
 'Rust',
 'Python',
 'Jupyter Notebook',
 'C++',
 'C++',
 'C#',
 'Vim Script',
 'C++',
 'Python',
 'C++',
 'C#',
 'Python',
 'C++',
 'JavaScript',
 'JavaScript',
 'Rust']

In [38]:
GitHub = pd.DataFrame({
    'Repository name':title,
    'Description':description,
    'Programming Language':language
})

GitHub

,Repository name,Description,Programming Language
0,tigerbeetle / tigerbeetle,The distributed financial transactions databas...,Zig
1,astral-sh / uv,An extremely fast Python package installer and...,Rust
2,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...",Jupyter Notebook
3,ClayAmore / ER-Save-Editor,Elden Ring Save Editor. Compatible with PC and...,Rust
4,starship / starship,"☄🌌️ The minimal, blazing-fast, and infinitely ...",Rust
5,dortania / OpenCore-Legacy-Patcher,Experience macOS just like before,Python
6,mrdbourke / pytorch-deep-learning,Materials for the Learn PyTorch for Deep Learn...,Jupyter Notebook
7,google / leveldb,LevelDB is a fast key-value storage library wr...,C++
8,LizardByte / Sunshine,Self-hosted game stream host for Moonlight.,C++
9,microsoft / semantic-kernel,Integrate cutting-edge LLM technology quickly ...,C#
10,neovim / neovim,Vim-fork focused on extensibility and usability,Vim Script
11,WerWolv / ImHex,"🔍 A Hex Editor for Reverse Engineers, Programm...",C++
12,yt-dlp / yt-dlp,A feature-rich command-line audio/video downlo...,Python
13,wolfpld / tracy,Frame profiler,C++
14,goatcorp / Dalamud,FFXIV plugin framework and API,C#
15,Asabeneh / 30-Days-Of-Python,30 days of Python programming challenge is a s...,Python
16,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,C++
17,pedroslopez / whatsapp-web.js,A WhatsApp client library for NodeJS that conn...,JavaScript
18,Koenkk / zigbee2mqtt,"Zigbee 🐝 to MQTT bridge 🌉, get rid of your pro...",JavaScript
19,ruffle-rs / ruffle,A Flash Player emulator written in Rust,Rust