In [1]:
import re

1) Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [2]:
Text = 'Python Exercises, PHP exercises.'
result = re.sub(r'[\ ,.]', ':', Text)
print(result)

Python:Exercises::PHP:exercises:

2) Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [3]:
import pandas as pd

dict = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(dict)

pattern = r'[.,!;:]|X+'

data = df['SUMMARY'].str.replace(pattern, lambda m : '', regex=True)

print(data)

0         hello world
1                test
2    123four five six
Name: SUMMARY, dtype: object

3) Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [4]:
str_1 = 'Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team'

def character_long(text):
    pattern = r'\w{4,}'
    
    regex_pattern = re.compile(pattern)
    
    r = regex_pattern.findall(text)
    
    return r

result = character_long(str_1)
print(result)

['Virat', 'Kohli', 'Indian', 'international', 'cricketer', 'former', 'captain', 'Indian', 'national', 'cricket', 'team']

4) Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [5]:
text = 'Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team'

def long_words(text):
    pattern = r'\w{3,5}'
    
    regex_pattern = re.compile(pattern)
    
    s = regex_pattern.findall(text)
    
    return s


res = long_words(text)
print(res)

['Virat', 'Kohli', 'India', 'inter', 'natio', 'nal', 'crick', 'eter', 'and', 'the', 'forme', 'capta', 'the', 'India', 'natio', 'nal', 'crick', 'team']

5) Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [6]:
text = '["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'

def param(text):
    pattern = r'[\(\)]'
    
    regex_pattern = re.compile(pattern)
    
    t = regex_pattern.sub('', text)
    
    return t


res = param(text)
print(res)

["example .com", "hr@fliprobo .com", "github .com", "Hello Data Science World", "Data Scientist"]

6) Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [7]:
text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

with open('6_text.txt','w') as file:
    for item in text:
        file.write(item)
 
with open('6_text.txt','r') as file:
    f = file.read()
    
pattern = r'\(.*?\)'
res = re.sub(pattern,'',f)
print(res)

example hr@fliprobo github Hello Data

7) Write a regular expression in Python to split a string into uppercase letters.

In [8]:
text = 'ImportanceOfRegularExpressionsInPython'
pattern =r'[A-Z][a-z]+'

r = re.findall(pattern,text)
print(r)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

8) Create a function in python to insert spaces between words starting with numbers.***

In [9]:
string = 'RegularExpression1IsAn2ImportantTopic3InPython.'

def insert_space(text):
    pattern = r'(\d+)([A-Za-z]+)'
    
    regex_pattern = re.compile(pattern)
    
    t = regex_pattern.sub(r' \1\2 ', text)
    
    return t

res = insert_space(string)

print(res)

RegularExpression 1IsAn  2ImportantTopic  3InPython .

9) Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [10]:
string = 'RegularExpression1IsAn2ImportantTopic3InPython.'

def insert_space(text):
    pattern = r'(\d+)|([A-Za-z]+)'
    
    regex_pattern = re.compile(pattern)
    
    t = regex_pattern.sub(r' \1\2 ', text)
    
    return t

res = insert_space(string)

print(res)

 RegularExpression  1  IsAn  2  ImportantTopic  3  InPython .

10) Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [11]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [12]:
df['Country'].sample(5)

44    Slovakia
77     Nigeria
87    Portugal
74     Vietnam
1      Iceland
Name: Country, dtype: object

In [13]:
pattern = r'(\w{6})'
df['first_five_letters'] = df['Country'].str.extract(pattern,flags=0, expand=False)

(df[['Country', 'first_five_letters']].head(10))

       Country first_five_letters
0  Switzerland             Switze
1      Iceland             Icelan
2      Denmark             Denmar
3       Norway             Norway
4       Canada             Canada
5      Finland             Finlan
6  Netherlands             Nether
7       Sweden             Sweden
8  New Zealand             Zealan
9    Australia             Austra

11) Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [14]:
string_1 = "Kwality_walls123 is good ice-cream company which has more differents type of flavours and types."
pattern = r'\w+'

match = re.match(pattern,string_1)
print(match)

<re.Match object; span=(0, 16), match='Kwality_walls123'>

12) Write a Python program where a string will start with a specific number.

In [15]:
text = "In himachal pradesh where 123Kalpa is king of himalayas."
pattern = r'[0-9]+[A-Za-z]+'

m = re.search(pattern,text)
print(m)

<re.Match object; span=(26, 34), match='123Kalpa'>

13) Write a Python program to remove leading zeros from an IP address

In [16]:
IP_address = '192.102.001.011'
pattern = r'\.0+'

t = re.sub(pattern,'_',IP_address)
print(t)

192.102_1_11

14) Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [17]:
text = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'

with open("py_text.txt","w") as file:
    file.write(text)
    
with open("py_text.txt","r") as file:
    d = file.read()
    
pattern = r'([A-Z][a-z]+ \d{1,2}[a-z]{2} \d{4})'
match = re.search(pattern, d)
print(match.group())

August 15th 1947

15) Write a Python program to search some literals strings in a string.

In [18]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'fox|dog|horse'

i = re.findall(pattern,text)
print(i)

['fox', 'dog']

16) Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [19]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'fox'

result = re.search(pattern,text)
print(result)

<re.Match object; span=(16, 19), match='fox'>

17) Write a Python program to find the substrings within a string.

In [20]:
text ='Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

i = re.findall(pattern,text)
print(i)

['exercises', 'exercises', 'exercises']

18) Write a Python program to find the occurrence and position of the substrings within a string.

In [21]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

res = re.search(pattern, text)
print(res)

<re.Match object; span=(7, 16), match='exercises'>

20) Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [22]:
text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

def decimal(text):
    pattern = r'\d+\.\d{1,2}'
    
    regex_pattern = re.compile(pattern)
    
    s = regex_pattern.findall(text)
    
    return s


res = decimal(text)
print(res)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

21) Write a Python program to separate and print the numbers and their position of a given string.

In [23]:
text = "Virat Kohli played a total number of 113 test matches."
pattern = r'\d+'

match = re.search(pattern,text)
print(match)

<re.Match object; span=(37, 40), match='113'>

22) Write a regular expression in python program to extract maximum/largest numeric value from a string

In [24]:
text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\d+'

result = re.findall(pattern,text)
print(max(result))

950

23) Create a function in python to insert spaces between words starting with capital letters.

In [25]:
def space(text):
    pattern = r'([A-Z][a-z]+)'
    
    regex_pattern = re.compile(pattern)
    
    n = re.sub(regex_pattern, r' \1 ', text)
    
    return n

text = 'RegularExpressionIsAnImportantTopicInPython'
result = space(text)
print(result)

 Regular  Expression  Is  An  Important  Topic  In  Python

24) Python regex to find sequences of one upper case letter followed by lower case letters

In [26]:
text = "Abhoy is A gOod bOy.He is An Engineer."
pattern = r'[A-Z][a-z]+'

r =re.findall(pattern,text)
print(r)

['Abhoy', 'Ood', 'Oy', 'He', 'An', 'Engineer']

25) Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [27]:
text = 'Hello hello world world'
pattern = r'(\w+)(\s\1)'

result = re.sub(pattern, r'\1', text)
print(result)

Hello hello world

26) Write a python program using RegEx to accept string ending with alphanumeric character.

In [28]:
str_1 = 'it is a Apple231 and it has high nutrients90_'
pattern = r'\w+$'

res = re.search(pattern,str_1)
print(res)

<re.Match object; span=(33, 45), match='nutrients90_'>

27) Write a python program using RegEx to extract the hashtags.

In [29]:
text =  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization 
           as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> 
           "acquired funds" No wo"""
pattern = r'#\w+'

result = re.findall(pattern,text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

28) Write a python program using RegEx to remove <U+..> like symbols

In [30]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern = r'\<U\+[A-Z0-9]+>'

res = re.sub(pattern, '', text)
print(res)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

29) Write a python program to extract dates from the text stored in the text file.

In [31]:
text = 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999'

with open('akash_text.txt','w') as file:
    file.write(text)
    
with open('akash_text.txt','r') as file:
    r = file.read()
    
pattern = r'(\d{1,2}\-\d{1,2}\-\d{4})'    
res = re.findall(pattern,r)
print(res)

['12-09-1992', '15-12-1999']

30) Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

In [32]:
text = 'The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.'

def remove_digit(text):
    pattern = r'(\b\w{2,4}\b)'
    
    regex_pattern = re.compile(pattern)
    
    r = re.sub(regex_pattern, '' ,text)
    
    return r

result = remove_digit(text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.